## Mysql with python

In [3]:
import pymysql as MySQLdb

In [4]:
conn = MySQLdb.connect(host='localhost', 
                       port=3306, 
                       user='root', 
                       passwd='hanoi1994', 
                       db='people')

In [5]:
cur = conn.cursor()

In [6]:
# cur.execute("SELECT name FROM people_known")

## INSERT TIME PEOPLE COUNT IN AND COUNT OUT

In [7]:
record = ["Dam Van Tai", "2038-01-19 19:30:21.11"]

In [8]:
cur.execute("insert into history_come(name, come_in) values(%s,%s)", record)

1

In [9]:
import datetime
currentDT = datetime.datetime.now()
print(str(currentDT).split(' ')[1])

17:49:39.980859

In [10]:
cur.execute("select * from history_come")
for row in cur:
    print(row)

(1, 'Dam Van Tai', datetime.datetime(2018, 6, 7, 17, 44, 38), None)
(2, 'Dam Van Tai', datetime.datetime(2038, 1, 19, 19, 30, 21), None)

### INSERT PEOPLE IN ROOM

In [66]:
# insert people in room
# name = 'Dam Van Tai'
# gender = 1
# age = 24
# cur.execute("insert into people_known values (%s, %s, %s)", (name, gender, age))

In [67]:
# name = "Dam Van Tai"
# cur.execute("select * from people_known where name = '%s'" % name)

In [68]:
# print
# name, gender_predict, age_predict = cur.fetchone()
# temp = cur.fetchone()

In [69]:
# cur.execute("insert into people_known values (%s, %s, %s)", temp)

In [70]:
# cur.execute("SELECT count(*) FROM people.people_known where gender = 0 and old >= 40 and old < 50")

In [71]:
# cur.fetchone()[0]

In [72]:
# delete
# name = 'Pham Ngan13'
# old = 24
# cur.execute("delete from people_known where name=%s and old=%s", (name, old))

In [73]:
# cur.execute("SELECT count(*) FROM people.people_known where gender = 0 and old < 20").fetchone()[0]

In [74]:
# total_in_room = cur.execute("SELECT COUNT(*) FROM people_known")

In [75]:
# total_in_room

In [76]:
# for row in cur:
#     print(ord(row[1]) ==0)

In [134]:
cur.execute('delete from history_come')

2

In [135]:
conn.commit()

In [136]:
cur.close()
conn.close()